/* TrendIgnite */
.container .deck-container > .slide, .csstransitions.csstransforms
.deck-container > .slide {
  ul.thumbnails {
    a {
      position:relative;
      margin-top:30%;
      display:block;
    }
  }
  h1 {
    position:relative;
  }
  h2 {
    text-align:center;
    border:0;
    margin-bottom:1em;
    color:#aaa;
    font-size:1.5rem;
  }
  p, h2, h3, h4 {
    text-align:center;
  }
  p {
    color:#aaa;
  }
  a.skip-me {
    display:block;
    width:10%;
    min-width:100px;
    max-width:200px;
    padding:5px 10px;
    margin:0 auto;
  }
  a.save-me {
    display:block;
    text-align:center;
    margin-bottom:1em;
    min-height:300px;
  }
  .controls {
    a {
      width:10%;
      min-width:100px;
      max-width:200px;
      padding:5px 10px;

      &.right {
        float:right;
      }
      &.left {
        float:left;
      }
      &.btn-primary {
        color:white;
      }
    }
  }
}
.container-fluid {
  h1.main-title {
    margin-bottom:0.75em;

    span {
      font-size:70%;
      font-weight:normal;
      color:#999;
    }
  }
  .logo {
    margin-bottom:0.5em;

    img {
      max-width:200px;
    }
  }
  .intro {
    text-align:center;
  }
  form {
    .inputs {
    }
  }
  .categories {
    ul {
      margin:3em auto 2.5em;
      text-align:center;
    }
    li {
      display:inline-block;
      list-style:none;
      padding:5px 14px;
      color:#999;

      &.active {
        background:#eee;
      }
    }
  }
}

